In [114]:
import pandas as pd
import numpy as np
from datetime import datetime 
import seaborn as sns
import matplotlib.pyplot as plt
import ipywidgets as widgets
from IPython.display import display
from matplotlib.pyplot import figure

In [ ]:
ausland

In [7]:
ausland_cleaned_csv = pd.read_csv("cleaned_data_ausland.csv",  delimiter=",")
ausland_cleaned_csv.head()

        Datum    Umsatz_A  Umsatz_B_diff  Umsatz_C_diff
0  2021-01-01   17.132115     189.467425   18392.056339
1  2021-01-02   57.353725      97.000000     150.353614
2  2021-01-03  114.746857      60.000000     589.032382
3  2021-01-04  113.251181      95.000000     272.403917
4  2021-01-05    4.186462       4.000000     -30.435265

In [46]:
ausland_cleaned_csv['Umsatz_C_diff'][0] = ausland_cleaned_csv['Umsatz_C_diff'].median()
ausland_cleaned_csv.head()

C:\Users\User\AppData\Local\Temp\ipykernel_15108\1981627072.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ausland_cleaned_csv['Umsatz_C_diff'][0] = ausland_cleaned_csv['Umsatz_C_diff'].median()

        Datum    Umsatz_A  Umsatz_B_diff  Umsatz_C_diff
0  2021-01-01   17.132115     189.467425     459.380813
1  2021-01-02   57.353725      97.000000     150.353614
2  2021-01-03  114.746857      60.000000     589.032382
3  2021-01-04  113.251181      95.000000     272.403917
4  2021-01-05    4.186462       4.000000     -30.435265

In [88]:
ausland_tages = ausland_cleaned_csv.copy()
ausland_tages.head()

        Datum    Umsatz_A  Umsatz_B_diff  Umsatz_C_diff
0  2021-01-01   17.132115     189.467425     459.380813
1  2021-01-02   57.353725      97.000000     150.353614
2  2021-01-03  114.746857      60.000000     589.032382
3  2021-01-04  113.251181      95.000000     272.403917
4  2021-01-05    4.186462       4.000000     -30.435265

In [92]:
ausland_tages.set_index('Datum', inplace=True)

In [119]:
def resample_and_plot(resampling_freq):
    resampled_df = ausland_tages.resample(resampling_freq).mean()
    plt.rcParams['figure.figsize'] = [15, 6] #plt.figure(figsize=(15, 10))
    resampled_df.plot(kind='line')
    plt.title(f'Resampled Data - {resampling_freq}')
    plt.xlabel('Datum')
    plt.ylabel('Mean des Umsatzes')
    plt.grid(True)
    plt.show()

# Slider zur Auswahl des Resampling-Zeitraums erstellen
resampling_slider = widgets.SelectionSlider(
    options=['D', 'W', 'M'],   # , 'Q', 'Y'
    value='D',
    description='Resampling:',
    continuous_update=False
)

# Interaktive Ausgabe anzeigen
widgets.interactive(resample_and_plot, resampling_freq=resampling_slider)

interactive(children=(SelectionSlider(continuous_update=False, description='Resampling:', options=('D', 'W', 'â€¦

In [ ]:
fig, ax1 = plt.subplots(figsize=(15,10))
sns.lineplot(x=ausland_cleaned_csv.index, y=(ausland_cleaned_csv['Umsatz_A']))
sns.lineplot(x=ausland_cleaned_csv.index, y=(ausland_cleaned_csv['Umsatz_B_diff']))
sns.lineplot(x=ausland_cleaned_csv.index, y=(ausland_cleaned_csv['Umsatz_C_diff']))
# Show the plot
plt.show()