In [45]:
import numpy as np
import pandas as pd
import re

In [46]:
df = pd.read_csv(r"C:\Users\User\Documents\GitHub\Praxisprojekt_Modul_2.2_Breakout2\Daten\Daten_Aufgabe_1 - Shopauswertung.csv", sep=";")
df

           Datum Produkt         Umsatz
0     01.01.2021       A      17.132115
1     02.01.2021       A      57.353725
2     03.01.2021       A     114.746857
3     04.01.2021       A     113.251181
4     05.01.2021       A       4.186462
...          ...     ...            ...
1090  27.12.2021   A+B+C  197909.241600
1091  28.12.2021   A+B+C  198014.840500
1092  29.12.2021   A+B+C  198355.276000
1093  30.12.2021   A+B+C  199081.446100
1094  31.12.2021   A+B+C  199213.853100

[1095 rows x 3 columns]

In [47]:
df_A = df[df["Produkt"]=="A"]
df_A.rename(columns={"Umsatz":"Umsatz_A_Ausland"}, inplace=True)
df_A = df_A.drop("Produkt",axis=1)
df_A

C:\Users\User\AppData\Local\Temp\ipykernel_23832\1095960730.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_A.rename(columns={"Umsatz":"Umsatz_A_Ausland"}, inplace=True)

          Datum  Umsatz_A_Ausland
0    01.01.2021         17.132115
1    02.01.2021         57.353725
2    03.01.2021        114.746857
3    04.01.2021        113.251181
4    05.01.2021          4.186462
..          ...               ...
360  27.12.2021         48.681712
361  28.12.2021         54.774542
362  29.12.2021        151.450508
363  30.12.2021         39.406492
364  31.12.2021        111.467425

[365 rows x 2 columns]

In [48]:
df_B = df[df["Produkt"]=="B"]
df_B.rename(columns={"Umsatz":"Umsatz_B_Ausland"}, inplace=True)
df_B = df_B.drop("Produkt",axis=1)
df_B

C:\Users\User\AppData\Local\Temp\ipykernel_23832\844332613.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_B.rename(columns={"Umsatz":"Umsatz_B_Ausland"}, inplace=True)

          Datum  Umsatz_B_Ausland
365  01.01.2021        189.467425
366  02.01.2021        286.467425
367  03.01.2021        346.467425
368  04.01.2021        441.467425
369  05.01.2021        445.467425
..          ...               ...
725  27.12.2021      18261.467430
726  28.12.2021      18325.467430
727  29.12.2021      18368.467430
728  30.12.2021      18467.467430
729  31.12.2021      18533.467430

[365 rows x 2 columns]

In [49]:
df_gesamt = df[df["Produkt"]=="A+B+C"]
df_gesamt.rename(columns={"Umsatz":"Umsatz_gesamt_Ausland"}, inplace=True)
df_gesamt = df_gesamt.copy()
df_gesamt = df_gesamt.drop("Produkt", axis=1)
df_gesamt.dtypes

C:\Users\User\AppData\Local\Temp\ipykernel_23832\3840804518.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_gesamt.rename(columns={"Umsatz":"Umsatz_gesamt_Ausland"}, inplace=True)

Datum                     object
Umsatz_gesamt_Ausland    float64
dtype: object

In [50]:
df_gesamt = df_gesamt.merge(df_A)
df_gesamt

          Datum  Umsatz_gesamt_Ausland  Umsatz_A_Ausland
0    01.01.2021            18598.65588         17.132115
1    02.01.2021            18809.41684         57.353725
2    03.01.2021            19247.89036        114.746857
3    04.01.2021            19511.08905        113.251181
4    05.01.2021            20047.04458          4.186462
..          ...                    ...               ...
360  27.12.2021           197909.24160         48.681712
361  28.12.2021           198014.84050         54.774542
362  29.12.2021           198355.27600        151.450508
363  30.12.2021           199081.44610         39.406492
364  31.12.2021           199213.85310        111.467425

[365 rows x 3 columns]

In [51]:
df_gesamt.dtypes

Datum                     object
Umsatz_gesamt_Ausland    float64
Umsatz_A_Ausland         float64
dtype: object

In [52]:

df_gesamt = df_gesamt.merge(df_B)
df_gesamt
#df = df_gesamt.copy()

          Datum  Umsatz_gesamt_Ausland  Umsatz_A_Ausland  Umsatz_B_Ausland
0    01.01.2021            18598.65588         17.132115        189.467425
1    02.01.2021            18809.41684         57.353725        286.467425
2    03.01.2021            19247.89036        114.746857        346.467425
3    04.01.2021            19511.08905        113.251181        441.467425
4    05.01.2021            20047.04458          4.186462        445.467425
..          ...                    ...               ...               ...
360  27.12.2021           197909.24160         48.681712      18261.467430
361  28.12.2021           198014.84050         54.774542      18325.467430
362  29.12.2021           198355.27600        151.450508      18368.467430
363  30.12.2021           199081.44610         39.406492      18467.467430
364  31.12.2021           199213.85310        111.467425      18533.467430

[365 rows x 4 columns]

In [53]:
#df_gesamt["Umsatz_B"] = df_gesamt['Umsatz_B_Ausland'].diff().fillna(0)
#df_gesamt["Umsatz_B"][0] = df_gesamt["Umsatz_B_Ausland"][0]
#df_gesamt = df_gesamt.drop("Umsatz_B_Ausland", axis=1)
#df_gesamt = df_gesamt.rename(columns={"Umsatz_B":"Umsatz_B_Ausland"})
df_gesamt["Umsatz_gesamt_Ausland"] = df_gesamt["Umsatz_gesamt_Ausland"].diff().fillna(0)
#df_gesamt["Umsatz_gesamt_Ausland"][0]= df_gesamt["Umsatz_gesamt_Ausland"].median
df_backup = df_gesamt.copy()
df_backup

          Datum  Umsatz_gesamt_Ausland  Umsatz_A_Ausland  Umsatz_B_Ausland
0    01.01.2021                0.00000         17.132115        189.467425
1    02.01.2021              210.76096         57.353725        286.467425
2    03.01.2021              438.47352        114.746857        346.467425
3    04.01.2021              263.19869        113.251181        441.467425
4    05.01.2021              535.95553          4.186462        445.467425
..          ...                    ...               ...               ...
360  27.12.2021              858.86110         48.681712      18261.467430
361  28.12.2021              105.59890         54.774542      18325.467430
362  29.12.2021              340.43550        151.450508      18368.467430
363  30.12.2021              726.17010         39.406492      18467.467430
364  31.12.2021              132.40700        111.467425      18533.467430

[365 rows x 4 columns]

In [54]:
df_gesamt

          Datum  Umsatz_gesamt_Ausland  Umsatz_A_Ausland  Umsatz_B_Ausland
0    01.01.2021                0.00000         17.132115        189.467425
1    02.01.2021              210.76096         57.353725        286.467425
2    03.01.2021              438.47352        114.746857        346.467425
3    04.01.2021              263.19869        113.251181        441.467425
4    05.01.2021              535.95553          4.186462        445.467425
..          ...                    ...               ...               ...
360  27.12.2021              858.86110         48.681712      18261.467430
361  28.12.2021              105.59890         54.774542      18325.467430
362  29.12.2021              340.43550        151.450508      18368.467430
363  30.12.2021              726.17010         39.406492      18467.467430
364  31.12.2021              132.40700        111.467425      18533.467430

[365 rows x 4 columns]

In [55]:
df_gesamt["Umsatz_gesamt_Ausland"].median()

517.7838300000003

In [56]:
df

           Datum Produkt         Umsatz
0     01.01.2021       A      17.132115
1     02.01.2021       A      57.353725
2     03.01.2021       A     114.746857
3     04.01.2021       A     113.251181
4     05.01.2021       A       4.186462
...          ...     ...            ...
1090  27.12.2021   A+B+C  197909.241600
1091  28.12.2021   A+B+C  198014.840500
1092  29.12.2021   A+B+C  198355.276000
1093  30.12.2021   A+B+C  199081.446100
1094  31.12.2021   A+B+C  199213.853100

[1095 rows x 3 columns]

In [57]:
df_gesamt.dtypes

Datum                     object
Umsatz_gesamt_Ausland    float64
Umsatz_A_Ausland         float64
Umsatz_B_Ausland         float64
dtype: object

In [58]:
df_gesamt["Datum"] = pd.to_datetime(df_gesamt["Datum"])
df_gesamt_monat= df_gesamt.groupby(pd.Grouper(key="Datum", freq="M")).sum()
df_gesamt_monat["Umsatz_A_Ausland"]=df_gesamt_monat["Umsatz_A_Ausland"].round(2)
df_gesamt_monat["Umsatz_B_Ausland"]=df_gesamt_monat["Umsatz_B_Ausland"].round(2)
df_gesamt_monat["Umsatz_C_Ausland"]=df_gesamt_monat["Umsatz_C_Ausland"].round(2)
df_gesamt_monat["Umsatz_gesamt_Ausland"]=df_gesamt_monat["Umsatz_gesamt_Ausland"].round(2)
df_gesamt_monat

C:\Users\User\AppData\Local\Temp\ipykernel_23832\1023479403.py:1: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  df_gesamt["Datum"] = pd.to_datetime(df_gesamt["Datum"])

KeyError: 'Umsatz_C_Ausland'

In [ ]:
df_gesamt_monat = df_gesamt_monat.reset_index()

In [ ]:
df_gesamt_monat.dtypes

In [ ]:
df_gesamt_monat["Datum"] = df_gesamt_monat["Datum"].dt.strftime("%B %Y")
df_gesamt_monat

In [ ]:
df_gesamt_monat.set_index("Datum")

In [ ]:
df_gesamt_monat.to_csv(r"C:\Users\User\Documents\GitHub\Praxisprojekt_Modul_2.2_Breakout2\Daten\Umsatz_Ausland_Monat.csv")

In [ ]:
df_gesamt["Umsatz_gesamt_Ausland"] = df_gesamt["Umsatz_gesamt_Ausland"].diff().fillna(df_gesamt["Umsatz_gesamt_Ausland"][0]-df["Umsatz_B_Ausland"][364])

In [ ]:
df