In [87]:
import numpy as np
import pandas as pd
import re

In [88]:
df = pd.read_csv(r"C:\Users\User\Documents\GitHub\Praxisprojekt_Modul_2.2_Breakout2\Daten\Daten_Aufgabe_1 - Shopauswertung.csv", sep=";")
df

           Datum Produkt         Umsatz
0     01.01.2021       A      17.132115
1     02.01.2021       A      57.353725
2     03.01.2021       A     114.746857
3     04.01.2021       A     113.251181
4     05.01.2021       A       4.186462
...          ...     ...            ...
1090  27.12.2021   A+B+C  197909.241600
1091  28.12.2021   A+B+C  198014.840500
1092  29.12.2021   A+B+C  198355.276000
1093  30.12.2021   A+B+C  199081.446100
1094  31.12.2021   A+B+C  199213.853100

[1095 rows x 3 columns]

In [89]:
df_A = df[df["Produkt"]=="A"]
df_A.rename(columns={"Umsatz":"Umsatz_A_Ausland"}, inplace=True)
df_A = df_A.drop("Produkt",axis=1)

C:\Users\User\AppData\Local\Temp\ipykernel_26384\2197153205.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_A.rename(columns={"Umsatz":"Umsatz_A_Ausland"}, inplace=True)

In [90]:
df_B = df[df["Produkt"]=="B"]
df_B.rename(columns={"Umsatz":"Umsatz_B_Ausland"}, inplace=True)
df_B = df_B.drop("Produkt",axis=1)

C:\Users\User\AppData\Local\Temp\ipykernel_26384\1567627936.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_B.rename(columns={"Umsatz":"Umsatz_B_Ausland"}, inplace=True)

In [91]:
df_gesamt = df[df["Produkt"]=="A+B+C"]
df_gesamt.rename(columns={"Umsatz":"Umsatz_gesamt_Ausland"}, inplace=True)
df_gesamt = df_gesamt.copy()
df_gesamt = df_gesamt.drop("Produkt", axis=1)

C:\Users\User\AppData\Local\Temp\ipykernel_26384\3777781092.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_gesamt.rename(columns={"Umsatz":"Umsatz_gesamt_Ausland"}, inplace=True)

In [92]:
df_gesamt = df_gesamt.merge(df_A)
df_gesamt = df_gesamt.merge(df_B)
df_gesamt["Umsatz_C_Ausland"] = df_gesamt["Umsatz_gesamt_Ausland"].subtract(df_gesamt["Umsatz_A_Ausland"]).subtract(df_gesamt["Umsatz_B_Ausland"])

In [93]:
df_gesamt

,Datum,Umsatz_gesamt_Ausland,Umsatz_A_Ausland,Umsatz_B_Ausland,Umsatz_C_Ausland
0,01.01.2021,18598.65588,17.132115,189.467425,18392.056339
1,02.01.2021,18809.41684,57.353725,286.467425,18465.595689
2,03.01.2021,19247.89036,114.746857,346.467425,18786.676078
3,04.01.2021,19511.08905,113.251181,441.467425,18956.370443
4,05.01.2021,20047.04458,4.186462,445.467425,19597.390692
...,...,...,...,...,...
360,27.12.2021,197909.24160,48.681712,18261.467430,179599.092458
361,28.12.2021,198014.84050,54.774542,18325.467430,179634.598528
362,29.12.2021,198355.27600,151.450508,18368.467430,179835.358062
363,30.12.2021,199081.44610,39.406492,18467.467430,180574.572178
364,31.12.2021,199213.85310,111.467425,18533.467430,180568.918245

In [94]:
df_gesamt.dtypes

Datum                     object
Umsatz_gesamt_Ausland    float64
Umsatz_A_Ausland         float64
Umsatz_B_Ausland         float64
Umsatz_C_Ausland         float64
dtype: object

In [95]:
df_gesamt["Datum"] = pd.to_datetime(df_gesamt["Datum"])
df_gesamt_monat= df_gesamt.groupby(pd.Grouper(key="Datum", freq="M")).sum()
df_gesamt_monat["Umsatz_A_Ausland"]=df_gesamt_monat["Umsatz_A_Ausland"].round(2)
df_gesamt_monat["Umsatz_B_Ausland"]=df_gesamt_monat["Umsatz_B_Ausland"].round(2)
df_gesamt_monat["Umsatz_C_Ausland"]=df_gesamt_monat["Umsatz_C_Ausland"].round(2)
df_gesamt_monat["Umsatz_gesamt_Ausland"]=df_gesamt_monat["Umsatz_gesamt_Ausland"].round(2)
df_gesamt_monat

C:\Users\User\AppData\Local\Temp\ipykernel_26384\1023479403.py:1: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  df_gesamt["Datum"] = pd.to_datetime(df_gesamt["Datum"])

,Umsatz_gesamt_Ausland,Umsatz_A_Ausland,Umsatz_B_Ausland,Umsatz_C_Ausland
Datum,,,,
2021-01-31,1815968.91,1897.14,125866.49,1688205.28
2021-02-28,1948443.81,1450.65,147268.09,1799725.07
2021-03-31,2369886.70,1752.35,181366.49,2186767.86
2021-04-30,2620015.16,1423.80,204171.02,2414420.34
2021-05-31,2968718.13,1434.76,237010.49,2730272.88
2021-06-30,3170221.96,1662.89,255908.02,2912651.05
2021-07-31,3522623.32,2157.21,295048.49,3225417.62
2021-08-31,3837372.12,1725.48,329108.49,3506538.14
2021-09-30,3970391.63,1210.21,349115.02,3620066.40
2021-10-31,4438568.55,1522.83,391147.49,4045898.23
2021-11-30,4539299.03,1529.05,404038.02,4133731.95
2021-12-31,5011138.72,1597.83,450553.49,4558987.39

In [96]:
df_gesamt_monat = df_gesamt_monat.reset_index()

In [97]:
df_gesamt_monat.dtypes

Datum                    datetime64[ns]
Umsatz_gesamt_Ausland           float64
Umsatz_A_Ausland                float64
Umsatz_B_Ausland                float64
Umsatz_C_Ausland                float64
dtype: object

In [98]:
df_gesamt_monat["Datum"] = df_gesamt_monat["Datum"].dt.strftime("%B %Y")
df_gesamt_monat

,Datum,Umsatz_gesamt_Ausland,Umsatz_A_Ausland,Umsatz_B_Ausland,Umsatz_C_Ausland
0,January 2021,1815968.91,1897.14,125866.49,1688205.28
1,February 2021,1948443.81,1450.65,147268.09,1799725.07
2,March 2021,2369886.70,1752.35,181366.49,2186767.86
3,April 2021,2620015.16,1423.80,204171.02,2414420.34
4,May 2021,2968718.13,1434.76,237010.49,2730272.88
5,June 2021,3170221.96,1662.89,255908.02,2912651.05
6,July 2021,3522623.32,2157.21,295048.49,3225417.62
7,August 2021,3837372.12,1725.48,329108.49,3506538.14
8,September 2021,3970391.63,1210.21,349115.02,3620066.40
9,October 2021,4438568.55,1522.83,391147.49,4045898.23
10,November 2021,4539299.03,1529.05,404038.02,4133731.95
11,December 2021,5011138.72,1597.83,450553.49,4558987.39

In [99]:
df_gesamt_monat.set_index("Datum")

,Umsatz_gesamt_Ausland,Umsatz_A_Ausland,Umsatz_B_Ausland,Umsatz_C_Ausland
Datum,,,,
January 2021,1815968.91,1897.14,125866.49,1688205.28
February 2021,1948443.81,1450.65,147268.09,1799725.07
March 2021,2369886.70,1752.35,181366.49,2186767.86
April 2021,2620015.16,1423.80,204171.02,2414420.34
May 2021,2968718.13,1434.76,237010.49,2730272.88
June 2021,3170221.96,1662.89,255908.02,2912651.05
July 2021,3522623.32,2157.21,295048.49,3225417.62
August 2021,3837372.12,1725.48,329108.49,3506538.14
September 2021,3970391.63,1210.21,349115.02,3620066.40
October 2021,4438568.55,1522.83,391147.49,4045898.23
November 2021,4539299.03,1529.05,404038.02,4133731.95
December 2021,5011138.72,1597.83,450553.49,4558987.39

In [100]:
df_gesamt_monat.to_csv(r"C:\Users\User\Documents\GitHub\Praxisprojekt_Modul_2.2_Breakout2\Daten\Umsatz_Ausland_Monat.csv")