In [2]:
import numpy as np
import pandas as pd
import re

In [3]:
df = pd.read_csv(r"C:\Users\User\Documents\GitHub\Praxisprojekt_Modul_2.2_Breakout2\Daten\Daten_Aufgabe_1 - Shopauswertung.csv", sep=";")
df

           Datum Produkt         Umsatz
0     01.01.2021       A      17.132115
1     02.01.2021       A      57.353725
2     03.01.2021       A     114.746857
3     04.01.2021       A     113.251181
4     05.01.2021       A       4.186462
...          ...     ...            ...
1090  27.12.2021   A+B+C  197909.241600
1091  28.12.2021   A+B+C  198014.840500
1092  29.12.2021   A+B+C  198355.276000
1093  30.12.2021   A+B+C  199081.446100
1094  31.12.2021   A+B+C  199213.853100

[1095 rows x 3 columns]

In [9]:
df_A = df[df["Produkt"]=="A"]
df_A.rename(columns={"Umsatz":"Umsatz_A_Ausland"}, inplace=True)
df_A = df_A.drop("Produkt",axis=1)

C:\Users\User\AppData\Local\Temp\ipykernel_26384\2197153205.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_A.rename(columns={"Umsatz":"Umsatz_A_Ausland"}, inplace=True)

In [8]:
df_B = df[df["Produkt"]=="B"]
df_B.rename(columns={"Umsatz":"Umsatz_B_Ausland"}, inplace=True)
df_B = df_B.drop("Produkt",axis=1)

C:\Users\User\AppData\Local\Temp\ipykernel_26384\1567627936.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_B.rename(columns={"Umsatz":"Umsatz_B_Ausland"}, inplace=True)

In [6]:
df_gesamt = df[df["Produkt"]=="A+B+C"]
df_gesamt.rename(columns={"Umsatz":"Umsatz_gesamt_Ausland"}, inplace=True)
df_gesamt = df_gesamt.copy()
df_gesamt = df_gesamt.drop("Produkt", axis=1)

C:\Users\User\AppData\Local\Temp\ipykernel_26384\3777781092.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_gesamt.rename(columns={"Umsatz":"Umsatz_gesamt_Ausland"}, inplace=True)

In [14]:
df_gesamt = df_gesamt.merge(df_A)
df_gesamt = df_gesamt.merge(df_B)
df_gesamt["Umsatz_C_Ausland"] = df_gesamt["Umsatz_gesamt_Ausland"].subtract(df_gesamt["Umsatz_A_Ausland"]).subtract(df_gesamt["Umsatz_B_Ausland"])

In [15]:
df_gesamt

,Datum,Umsatz_gesamt_Ausland,Umsatz_A_Ausland,Umsatz_B_Ausland,Umsatz_C_Ausland
0,01.01.2021,18598.65588,17.132115,189.467425,18392.056339
1,02.01.2021,18809.41684,57.353725,286.467425,18465.595689
2,03.01.2021,19247.89036,114.746857,346.467425,18786.676078
3,04.01.2021,19511.08905,113.251181,441.467425,18956.370443
4,05.01.2021,20047.04458,4.186462,445.467425,19597.390692
...,...,...,...,...,...
360,27.12.2021,197909.24160,48.681712,18261.467430,179599.092458
361,28.12.2021,198014.84050,54.774542,18325.467430,179634.598528
362,29.12.2021,198355.27600,151.450508,18368.467430,179835.358062
363,30.12.2021,199081.44610,39.406492,18467.467430,180574.572178
364,31.12.2021,199213.85310,111.467425,18533.467430,180568.918245

In [16]:
df_gesamt.to_csv(r"C:\Users\User\Documents\GitHub\Praxisprojekt_Modul_2.2_Breakout2\Daten\Umsatz_Ausland_Tage.csv")